

/* #cohortData {
  padding: 100px;
  border: 1px solid grey;
}

#dateData {
  padding: 100px;
  border: 1px solid grey;
} */

.ui.container {
  margin-top: 100px;
}

.cohort-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}

.extra > .danger {
  color: red;
}